<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainProject">
	<parameter name="userName" value="admins"></parameter>
	<parameter name="password" value="admins"></parameter>
	<parameter name="browzer" value="chrome"></parameter>
	<test thread-count="5" name="groceryapp">
		<classes>
			<class name="test.ManageNewsTest">

			</class>
		</classes>
	</test> <!-- groceryapp -->

</suite>